.hover-box:hover{
  background-color: #b3c3f1;
   margin: 30px;
  padding: 25px;
  border: 3px solid black;
  text-align: center;
  width: 220px;
  height: 100px;
}

.card {
  background-color:#7e7cc4
  margin: 30px;
  padding:20px;
  border: 3px solid black;
  text-align: center;
  width: 200px;
  height: 100px;
}

#highlight{
    background-color: #6B5B95;
margin: 30px;
  padding: 25px;
  border: 3px solid black;
  text-align: center;
  width:220px;
  height:100px;
}

#highlight{
  position:  relative;
  top: 100px;
  left: 100px;
}
